
   

<div>
		
            <div class="row row-content">
				<div class="col-xs-12 col-sm-8">
                <h2>Registration</h2>
                    <br><br>
                    
                    
                     <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" width: 100%>
                    <a href="#basic_details" aria-controls="peter"
                     role="tab" data-toggle="tab">Basic Details</a></li>
					 
                    <li role="presentation"><a href="#panel"
                     aria-controls="danny" role="tab"
                     data-toggle="tab">Panel</a></li>
					 
                    <li role="presentation"><a href="medical_history"
                     aria-controls="agumbe" role="tab"
                     data-toggle="tab">Medical history</a></li>
					 
                    <li role="presentation"><a href="#clinical_events"
                     aria-controls="alberto" role="tab"
                     data-toggle="tab">Clinical Events</a></li>
					 
					  <li role="presentation"><a href="#other_details"
                     aria-controls="alberto" role="tab"
                     data-toggle="tab">Other Details</a></li>
                </ul>
                    
                    
                    
                    
                    
                  <div class="tab-content"> 
                      <div role="tabpanel" class="tab-pane fade in active" id="basic_details">
                <div class="row row-content">
            <div class="col-xm-12 col-sm-10">
			
			<div ng-include="'register.html'"></div>            
                
            </div>
           
        </div>
                          
                          
                          
                          
                          
                          
                          
                          
                </div>
				
				<div role="tabpanel" class="tab-pane fade" id="panel">
				< <div class="row row-content">
            <div class="col-xm-12 col-sm-10">
			
			<div ng-include="'panel.html'"></div>  
                
            </div>
           
        </div>         
                          
                </div>
				
								
								
			
			<div role="tabpanel" class="tab-pane fade" id="medical_history">

				
				 <div class="row row-content">
            <div class="col-xm-12 col-sm-10">
			
			<div ng-include="'Medical_history.html'"></div>  
                
            </div>
           
        </div>
      
                </div>
				
			
			
			
			<div role="tabpanel" class="tab-pane fade" id="clinical_events">

				 <div class="row row-content">
            <div class="col-xm-12 col-sm-10">
			
			<div ng-include="'clinical_events.html'"></div>  
                
            </div>
           
        </div>
                          
             
            </div>
			
			
			
			
			
			
			<div role="tabpanel" class="tab-pane fade" id="other_details">

				 <div class="row row-content">
            <div class="col-xm-12 col-sm-10">
			
			<div ng-include="'others.html'"></div>  
                
            </div>
           
        </div>
                          
                          
                          
                         
            </div>
                
            </div>
			</div>
             <div>
                <p style="padding:20px;"></p>
            </div>
    </div></div>

































