<style>

table{
    table-layout: fixed;
    width: 200px;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 100px;
}
th, td
{
  text-align : center;
}
body
{
  line-height: 1.6em;
}


#box-table-b
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 45px;
  width: 480px;
  text-align: center;
  border-collapse: collapse;
  border-top: 7px solid #9baff1;
  border-bottom: 7px solid #9baff1;
}
#box-table-b th
{
  font-size: 13px;
  font-weight: normal;
  padding: 8px;
  background: #e8edff;
  border-right: 1px solid #9baff1;
  border-left: 1px solid #9baff1;
  color: #039;
}
#box-table-b td
{
  padding: 8px;
  background: #e8edff; 
  border-right: 1px solid #aabcfe;
  border-left: 1px solid #aabcfe;
  color: #669;
}
</style>
<div class="container">
<div class="row">
<form class="form-horizontal" role="form">
<table id="box-table-b">
  <thead>
    <tr>
      <th>TIME</th>
      <th>BP</th>
      <th>PR</th>
      <th>AP</th>
      <th>VP</th>
      <th>TMP</th>
      <th>UFR</th>
      <th>TOTAL UF</th>
      <th>BFR</th>
      <th>EBF</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td></tr>
    <tr><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td></tr>
    <tr><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td></tr>
    <tr><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td></tr>
    <tr><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td><td><div contenteditable></div></td></tr>
  </tbody>
</table>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
</form>
</div>
</div>