<div class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<div class="panel panel-info" >
<div class="panel-heading">
    <div class="panel-title"><b>Post Dialysis</b></div>
    <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
</div>     
<div style="padding-top:30px" class="panel-body bg-warning" >

     <form class="form-horizontal" role="form">
         
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>                        
            <div class="col-sm-8">
                <input required type="text" class="form-control" id="name" name="name"  >
            </div>
        </div>
         
      
         <div class="form-group">
            <label class="col-sm-3 control-label">ID Number</label>
            <div class="col-sm-8">
                <input required type="number" class="form-control" id="id" name="id" >
            </div>
        </div>
         
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 control-label">Post Weight</label>
            <div class="col-sm-8">
                <input required type="number" class="form-control" id="post_weight" name="post_weight" placeholder="Post Weight">
            </div>
        </div>

        <div class="form-group">
                      <label class="col-xs-12 col-sm-3 control-label">Weight Loss</label>
                      <div class="col-sm-8">
                          <input required type="number" class="form-control" id="weight_loss" name="weight_loss" placeholder="Weight Loss">
                      </div>
                  </div>
        <div class="form-group">
                      <label class="col-xs-12 col-sm-3 control-label">UF Reading</label>
                      <div class="col-sm-8">
                          <input required type="number" class="form-control" id="uf_reading" name="uf_reading" placeholder="UF Reading">
                      </div>
                  </div>
        
        <div class="form-group">
                      <label class="col-sm-3 control-label">BP (sitting)</label>
                       <div class="col-sm-8" >
          <select id="bp_sitting" name="bp_sitting">                    
              <option ng-repeat="n in [].constructor(51) track by $index"  >{{5*$index}}</option>
                      </select>
                      </div>
                  </div>
         

       <div class="form-group">
                    <label class="col-sm-3 control-label">BP (standing)</label>
                     <div class="col-sm-8" >
        <select id="bp_standing" name="bp_standing">                    
            <option ng-repeat="n in [].constructor(51) track by $index"  >{{5*$index}}</option>
                    </select>
                    </div>
                </div>
      
      <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">Temperature</label>
                    <div class="col-sm-8">
                        <input required type="number" class="form-control" id="temperature" name="temperature" placeholder="Temperature">
                    </div>
                </div>
      
      <div class="form-group">
                    <label class="col-xs-12 col-sm-3 control-label">Pulse</label>
                    <div class="col-sm-8">
                        <input required type="number" class="form-control" id="pulse" name="pulse" placeholder="pulse">
                    </div>
                </div>
                 
                 <div class="form-group">
                     
                    <label class="col-sm-3 control-label">Symptomatic Hypotension</label>                       
                    <div class="col-sm-8 ">
                        <select name="symptomatic_hypotension" required class="form-control">
                            <option value="" selected disabled>-</option>
                            <option value="yes" >Yes</option>
                            <option value="no" >No</option>
                        </select>
                    </div>
        </div>
         
        <div class="form-group">
       <label class="col-sm-3 control-label"> Prolonged Bleeding
       </label>                       
                    <div class="col-sm-8 ">
                        <select name="prolonged_bleeding" required class="form-control">
                            <option value="" selected disabled>-</option>
                            <option value="yes" >Yes</option>
                            <option value="no" >No</option>
                        </select>
                    </div>
        </div>


         <div class="form-group">
        <label class="col-sm-3 control-label">Bruit / Thrill (AVF / AVG) </label>                       
                    <div class="col-sm-8 ">
                        <select name="bruit_thrill_(AVF/AVG) " required class="form-control">
                            <option value="" selected disabled>-</option>
                            <option value="yes" >Yes</option>
                            <option value="no" >No</option>
                        </select>
                    </div>
        </div>
         
         
         <div class="form-group">
            <label  class="col-sm-3 control-label">Patient Subjective Statement</label>
            <div class="col-sm-8">
                <input required class="form-control" id="patient_subjective_statement" name="patient_subjective_statement" placeholder="Patient Subjective Statement">
            </div>
        </div>
         
         <div class="form-group">
            <label class="col-sm-3 control-label">Cardiac Status</label>                        
            <div class="col-sm-8">
                <input required type="text" class="form-control" id="cardiac_status" name="cardiac_status" placeholder="Cardiac Status">
            </div>
        </div>
         
         
         <div class="form-group">
            <label class="col-sm-3 control-label">Respiratory Status</label>                        
            <div class="col-sm-8">
                <input type="text" class="form-control" id="respiratory_status" name="respiratory_status" placeholder="Respiratory Status">
            </div>
        </div>
         
         
         <div class="form-group">
            <label class="col-sm-3 control-label">Mental Status</label>                        
            <div class="col-sm-8">
                <input type="text" class="form-control" id="mental_status" name="mental_status" placeholder="Mental Status">
            </div>
        </div>
         
         
         <div class="form-group">
            <label  class="col-xs-12 col-sm-3 control-label">Ambulatory Status</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="ambulatory_status" name="ambulatory_status" placeholder="Ambulatory Status">
            </div>
         </div>
         
         
         <div class="form-group">
            <label class="col-sm-3 control-label">Kt/V Achieved</label>                        
            <div class="col-sm-8">
                <input type="text" class="form-control" id="kt/v_achieved" name="kt/v_achieved" placeholder="Kt/V Achieved">
            </div>
        </div>
         
         
         <div class="form-group">
            <label class="col-xs-12 col-sm-3 control-label">EPO Dosage</label>
            <div class="col-sm-8 ">
                <input type="number" class="form-control" id="epo_dosage" name="epo_dosage" placeholder="EPO Dosage">
            </div>
         </div>
         
         
         
             
            
       
         
         <div class="form-group">
            <label  class="col-xs-12 col-sm-3 control-label">EPO Given By</label>
            <div class="col-sm-8 ">
                <input type="text" class="form-control" id="epo_given_by" name="epo_given_by" placeholder="EPO Given By">
            </div>
         </div>
         
         
        <div class="form-group">
        <label class="col-sm-3 control-label">EPO Supply</label>
        <div class="col-sm-8">
        <label class="radio-inline">
        <input type="radio" name="epo_supply" value="internal">Internal
        </label>
        <label class="radio-inline">
        <input type="radio" name="epo_supply"  value="external">External
        </label>
         </div>
        </div>

      <div class="form-group">
      <label class="col-sm-3 control-label">Blood Transfusion  </label>                       
                  <div class="col-sm-8 ">
                      <select name="blood_transfusion" required class="form-control">
                          <option value="" selected disabled>-</option>
                          <option value="yes" >Yes</option>
                          <option value="no" >No</option>
                      </select>
                  </div>
      </div>
               

      <div class="form-group">
                  <label class="col-sm-3 control-label">Number of Units</label>                        
                  <div class="col-sm-8">
                      <input type="number" class="form-control" id="number_of_units" name="number_of_units" placeholder="Number of Units">
                  </div>
              </div>
               

      <div class="form-group">
                  <label class="col-sm-3 control-label">Blood Bank Name</label>                        
                  <div class="col-sm-8">
                      <input type="text" class="form-control" id="blood_bank_name" name="blood_bank_name" placeholder="Blood Bank Name">
                  </div>
              </div>

      <div class="form-group">
                  <label class="col-sm-3 control-label">Concluded By</label>                        
                  <div class="col-sm-8">
                      <input type="text" class="form-control" id="concluded_by" name="concluded_by" placeholder="Concluded By">
                  </div>
              </div>


      <div class="form-group">
                  <label class="col-sm-3 control-label">Any Other Comments</label>                        
                  <div class="col-sm-8">
                      <input type="text" class="form-control" id="any_other_comments" name="any_other_comments" placeholder="Any Other Comments">
                  </div>
              </div>
         
         
     <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button id="postdia_save" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>    
</div>
</div>
</div>
</div>
</div>