<div class="row">
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Pre HD Weight</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="pre_hd_weight" name="pre_hd_weight">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Pre HD Weight</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="pre_hd_weight" name="pre_hd_weight">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Pre HD Weight</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="pre_hd_weight" name="pre_hd_weight">
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Post weight at last HD</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="post_weight_at_last_hd" name="post_weight_at_last_hd">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Dry Weight </label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="dry_weight" name="dry_weight">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Post Weight</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="post_weight" name="post_weight">
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Weight Gain</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="weight_gain" name="weight_gain">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Target Weight Loss</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="target_weight_loss" name="target_weight_loss">
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="col-sm-6 control-label">Actual weight loss</label>                        
		<div class="col-sm-6">
			<input required type="number" class="form-control" id="actual_weight_loss" name="actual_weight_loss">
		</div>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 control-label">Physical/chest pain or discomfort</label>
	<div class="col-sm-8">
		<label class="radio-inline">
		<input type="radio" name="physical_chest_pain_or_discomfort" value="yes">Yes</label>
		<label class="radio-inline">
		<input type="radio" name="physical_chest_pain_or_discomfort" value="no">No</label>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 control-label">Chest Auscultation – clear</label>
	<div class="col-sm-8">
		<label class="radio-inline">
		<input type="radio" name="chest_auscultation_clear" value="yes">Yes</label>
		<label class="radio-inline">
		<input type="radio" name="chest_auscultation_clear" value="no">No</label>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 control-label">Recent Surgery/Injury/Trauma/Bleeding </label>
	<div class="col-sm-8">
		<label class="radio-inline">
		<input type="radio" name="recent_surgery_injury_trauma_bleeding" value="yes">Yes</label>
		<label class="radio-inline">
		<input type="radio" name="recent_surgery_injury_trauma_bleeding" value="no">No</label>
	</div>
</div>
<div class="form-group row">
	<label class="col-sm-4 control-label">Peripheral Oedema</label>
	<div class="col-sm-8">
		<label class="radio-inline">
		<input type="radio" name="peripheral_oedema" value="yes">Yes</label>
		<label class="radio-inline">
		<input type="radio" name="peripheral_oedema" value="no">No</label>
	</div>
</div>
