<!-- useless file -->
<div class="container" ng-controller="BillingHomeController" >
    <div class="row row-content" >
    	<div class="col-xs-12 col-sm-4"></div>
    	<div class="panel panel-info col-xs-12 col-sm-4" style="text-align:center;" >
    	    <div class="panel-heading">
                <div class="panel-title"><b>BILLING</b></div>
                <div style="float:right; font-size: 80%; position: relative; top:-10px"></div>
            </div>     
    	    <div style="padding-top:30px" class="panel-body bg-warning" >
    			<div class="btn-grp-vertical">
	    	    	<a ui-sref="app.choosePatient({callback:'billing.newbill'})" role="button" class="btn btn-info ">New Bill</a>
                    <p></p>
	    	    	<a ui-sref="app.billing.viewbill" role="button" class="btn btn-info ">View Bill</a>
	    	    </div>
	 			<!-- <button class="btn btn-xs btn-primary pull-right" type="button"> -->
                    <!-- {{showDetails?'Hide Details': 'Show Details'}} -->
                <!-- </button> -->
	 			<!-- <button></button> -->
	 		</div>
        </div>
        <div class="col-xs-12 col-sm-4"></div>
    </div>
</div>
